/* Default styles */

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  min-width: 320px; /* Set a minimum width to prevent the content from being cut off */
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  position: relative;
  width: 100%;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
}

/* ... other styles ... */

/* Responsive styles */

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .container {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 16px;
  }

  p.large {
    font-size: 20px;
  }

  p.small {
    font-size: 14px;
  }

  .container {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 14px;
  }

  p.large {
    font-size: 18px;
  }

  p.small {
    font-size: 12px;
  }

  .container {
    grid-template-columns: 100%;
  }
}
